* {
  background-color: #1f1f1f;
  color: white;
  box-sizing: border-box;
  margin: 20px auto;
  padding: 0;
}

header .options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: black;
  margin: auto;
  width: 100%;
}

#total-products {
  background-color: black;
  font-size: 14px;
}

label {
  font-size: 18px;
  background-color: black;
}

button {
  padding: 4px 8px;
  border-radius: 4px;
}

#product-list {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(1, 1fr); /* Quantidade inicial de produtos por linha */
}

.product {
  border: 1px solid rgb(41, 39, 39);
  display: flex;
  flex-direction: column;
  align-items: center;
  width:250px;
  padding: 15px;
  margin-top: 15px;
  border-radius: 8px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.product-image {
  margin-bottom: 10px;
  padding: 8px;
}

.product-image img {
  border-radius: 16px;
  margin-bottom: 10px;
  width: 96px;
  height: 96px;
}

.product-name {
  padding: 8px;
  font-size: 18px;
  margin-bottom: 10px;
}

.product-price {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.current-price {
  color: rgb(119, 238, 119);
  font-size: 20px;
  font-weight: bold;
}

.discount-price {
  color: #686161;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: line-through;
  margin-left: 10px;
}

.buy-button {
  background-color: #34b994;
  color: white;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
}
.buy-button:hover {
  background-color: #206652;
}

@media screen and (min-width: 767px) and (max-width: 960px) {
  #product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 960px) {
  #product-list {
    grid-template-columns: repeat(5, 1fr);
  }
}